<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.danny.seckill.dao.mybatis.dao.goods.GoodsDOMapper">
  <resultMap id="BaseResultMap" type="com.danny.seckill.dao.mybatis.data.goods.GoodsDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goodsNo" jdbcType="VARCHAR" property="goodsno" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="originPrice" jdbcType="DECIMAL" property="originprice" />
    <result column="nowPrice" jdbcType="DECIMAL" property="nowprice" />
    <result column="totalnum" jdbcType="INTEGER" property="totalnum" />
    <result column="balance" jdbcType="INTEGER" property="balance" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="pictureUrl" jdbcType="VARCHAR" property="pictureurl" />
    <result column="seckillBeginTime" jdbcType="TIMESTAMP" property="seckillbegintime" />
    <result column="seckillEndTime" jdbcType="TIMESTAMP" property="seckillendtime" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, goodsNo, name, originPrice, nowPrice,totalnum, balance, description, pictureUrl, seckillBeginTime,
    seckillEndTime, comment, createTime, updateTime
  </sql>
  <select id="selectByExample" parameterType="com.danny.seckill.dao.mybatis.data.goods.GoodsDOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.danny.seckill.dao.mybatis.data.goods.GoodsDOExample">
    delete from t_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.danny.seckill.dao.mybatis.data.goods.GoodsDO">
    insert into t_goods (id, goodsNo, name, 
      originPrice, nowPrice, totalnum,balance,
      description, pictureUrl, seckillBeginTime, 
      seckillEndTime, comment, createTime, 
      updateTime)
    values (#{id,jdbcType=INTEGER}, #{goodsno,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{originprice,jdbcType=DECIMAL}, #{nowprice,jdbcType=DECIMAL}, #{totalnum,jdbcType=INTEGER}, #{balance,jdbcType=INTEGER},
      #{description,jdbcType=VARCHAR}, #{pictureurl,jdbcType=VARCHAR}, #{seckillbegintime,jdbcType=TIMESTAMP}, 
      #{seckillendtime,jdbcType=TIMESTAMP}, #{comment,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.danny.seckill.dao.mybatis.data.goods.GoodsDO">
    insert into t_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="goodsno != null">
        goodsNo,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="originprice != null">
        originPrice,
      </if>
      <if test="nowprice != null">
        nowPrice,
      </if>
      <if test="totalnum != null">
        totalnum,
      </if>
      <if test="balance != null">
        balance,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="pictureurl != null">
        pictureUrl,
      </if>
      <if test="seckillbegintime != null">
        seckillBeginTime,
      </if>
      <if test="seckillendtime != null">
        seckillEndTime,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodsno != null">
        #{goodsno,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="originprice != null">
        #{originprice,jdbcType=DECIMAL},
      </if>
      <if test="nowprice != null">
        #{nowprice,jdbcType=DECIMAL},
      </if>
      <if test="totalnum != null">
        #{totalnum,jdbcType=INTEGER},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="pictureurl != null">
        #{pictureurl,jdbcType=VARCHAR},
      </if>
      <if test="seckillbegintime != null">
        #{seckillbegintime,jdbcType=TIMESTAMP},
      </if>
      <if test="seckillendtime != null">
        #{seckillendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.danny.seckill.dao.mybatis.data.goods.GoodsDOExample" resultType="java.lang.Long">
    select count(*) from t_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_goods
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.goodsno != null">
        goodsNo = #{record.goodsno,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.originprice != null">
        originPrice = #{record.originprice,jdbcType=DECIMAL},
      </if>
      <if test="record.nowprice != null">
        nowPrice = #{record.nowprice,jdbcType=DECIMAL},
      </if>
      <if test="record.totalnum != null">
        totalnum = #{record.totalnum,jdbcType=INTEGER},
      </if>
      <if test="record.balance != null">
        balance = #{record.balance,jdbcType=INTEGER},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.pictureurl != null">
        pictureUrl = #{record.pictureurl,jdbcType=VARCHAR},
      </if>
      <if test="record.seckillbegintime != null">
        seckillBeginTime = #{record.seckillbegintime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.seckillendtime != null">
        seckillEndTime = #{record.seckillendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.comment != null">
        comment = #{record.comment,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null">
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatetime != null">
        updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_goods
    set id = #{record.id,jdbcType=INTEGER},
      goodsNo = #{record.goodsno,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      originPrice = #{record.originprice,jdbcType=DECIMAL},
      nowPrice = #{record.nowprice,jdbcType=DECIMAL},
      totalnum = #{record.totalnum,jdbcType=INTEGER},
      description = #{record.description,jdbcType=VARCHAR},
      pictureUrl = #{record.pictureurl,jdbcType=VARCHAR},
      seckillBeginTime = #{record.seckillbegintime,jdbcType=TIMESTAMP},
      seckillEndTime = #{record.seckillendtime,jdbcType=TIMESTAMP},
      comment = #{record.comment,jdbcType=VARCHAR},
      createTime = #{record.createtime,jdbcType=TIMESTAMP},
      updateTime = #{record.updatetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.danny.seckill.dao.mybatis.data.goods.GoodsDO">
    update t_goods
    <set>
      <if test="goodsno != null">
        goodsNo = #{goodsno,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="originprice != null">
        originPrice = #{originprice,jdbcType=DECIMAL},
      </if>
      <if test="nowprice != null">
        nowPrice = #{nowprice,jdbcType=DECIMAL},
      </if>
      <if test="totalnum != null">
        totalnum = #{totalnum,jdbcType=INTEGER},
      </if>
      <if test="balance != null">
        balance = #{balance,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="pictureurl != null">
        pictureUrl = #{pictureurl,jdbcType=VARCHAR},
      </if>
      <if test="seckillbegintime != null">
        seckillBeginTime = #{seckillbegintime,jdbcType=TIMESTAMP},
      </if>
      <if test="seckillendtime != null">
        seckillEndTime = #{seckillendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.danny.seckill.dao.mybatis.data.goods.GoodsDO">
    update t_goods
    set goodsNo = #{goodsno,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      originPrice = #{originprice,jdbcType=DECIMAL},
      nowPrice = #{nowprice,jdbcType=DECIMAL},
      totalnum = #{totalnum,jdbcType=INTEGER},
      balance = #{balance,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      pictureUrl = #{pictureurl,jdbcType=VARCHAR},
      seckillBeginTime = #{seckillbegintime,jdbcType=TIMESTAMP},
      seckillEndTime = #{seckillendtime,jdbcType=TIMESTAMP},
      comment = #{comment,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>